<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onboarding</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container pagination="true">
    <swiper-slide>
      <img src="assets/images/eleccar.png" class="slide-image" />
      <h2>Bienvenue sur <strong>Electricity Business</strong></h2>
      <p>Louez ou proposez une borne de recharge entre particuliers.</p>
    </swiper-slide>

    <swiper-slide>
      <ion-icon name="car-sport-outline" size="large"></ion-icon>
      <h2>Trouvez une borne partout</h2>
      <p>Recherchez une borne selon votre localisation ou vos préférences.</p>
    </swiper-slide>

    <swiper-slide>
      <ion-icon name="flash-outline" size="large"></ion-icon>
      <h2>Rechargez l’esprit léger</h2>
      <p>Une communauté fiable et des réservations sécurisées.</p>
      <ion-button expand="block" color="primary" routerLink="/home">Commencer</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
