<!-- Bouton de fermeture en haut à droite -->
<div class="w-full flex justify-end px-4 pt-4">
  <ion-button fill="clear" size="small" (click)="dismiss()">
    <ion-icon name="close-outline" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="mb-4 space-x-4 justify-center">
      <ion-col size="5.5">
        <ion-button expand="block" fill="outline" shape="round" (click)="openPlace = !openPlace">
          {{ selectedPlace || 'Lieu ' }}
        </ion-button>

        @if (openPlace) {
          <div  class="mt-2">
            <app-form-field
              placeholder="Renseignez"
              [controlType]="ControlType.Input"
              type="input"
              (valueChange)="selectedPlace = $event; openPlace = false"
            ></app-form-field>
          </div>
        }

      </ion-col>

      <ion-col size="5.5">
        <ion-button expand="block" fill="outline" shape="round" (click)="openTrajet = !openTrajet">
          {{ selectedTrajet || 'Trajet' }}
        </ion-button>
        @if(openTrajet) {
          <div  class="mt-2">
            <app-form-field
              placeholder="Renseignez"
              [controlType]="ControlType.Input"
              type="input"
              (valueChange)="selectedTrajet = $event; openTrajet = false"
            ></app-form-field>
          </div>
        }

      </ion-col>
    </ion-row>

    <ion-row class="mt-2">
      <ion-col>
        <ion-button expand="block" fill="outline" shape="round" (click)="openDate = !openDate">
          {{ selectedDate ? (selectedDate ) : 'Quand ?' }}
        </ion-button>
        @if (openDate) {
          <div class="mt-2">
            <app-form-field
              placeholder="Sélectionner une date et heure"
              [controlType]="ControlType.Date"
              type="input"
              (valueChange)="selectedDate = $event; openDate = false"
            ></app-form-field>
          </div>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-button expand="block" (click)="applyFilters()">Search</ion-button>
  </ion-footer>

</ion-content>
