
.custom-search-field,
.custom-datetime-field {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  --border-width: 0px !important;
  --inner-border-width: 0px !important;
  --border-color: transparent !important;
  --highlight-height: 0px !important;
}

ion-item {
  --border-width: 0px !important;
  --inner-border-width: 0px !important;
  --highlight-height: 0px !important;
  --background: transparent;

  border: none !important;
  box-shadow: none !important;
}

ion-item::part(native) {
  border: none !important;
  box-shadow: none !important;
}

ion-input::part(native),
ion-textarea::part(native),
ion-select::part(container) {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

ion-searchbar {
  --box-shadow: none !important;
  --border-radius: 0.75rem;
  --background: #fff;
}
ion-searchbar::part(container) {
  border: none !important;
  box-shadow: none !important;
}
