<div class="w-full mb-2 border-width-0">

  @if (controlType === ControlType.Input) {
    <ion-input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (ionInput)="setValue($event)"
      (ionBlur)="onTouched()"
      [label]="label"
      label-placement="stacked"
      fill="outline"
      shape="round"
      class="custom-input-field"
      [color]="formControl?.invalid && (formControl?.dirty || formControl?.touched) ? 'danger' : 'primary'"
    ></ion-input>
  }

  @if (controlType === ControlType.Search) {
    <ion-searchbar
      [placeholder]="placeholder"
      [value]="value"
      (ionInput)="setValue($event)"
      (ionBlur)="onTouched()"
      class="custom-search-field px-0"
    ></ion-searchbar>
    <ng-content select="[end-slot]"></ng-content>
  }

  @if (controlType === ControlType.Textarea) {
    <ion-textarea
      [placeholder]="placeholder"
      [value]="value"
      (ionInput)="setValue($event)"
      (ionBlur)="onTouched()"
      autoGrow="true"
      [label]="label"
      label-placement="stacked"
      fill="outline"
      shape="round"
      class="custom-textarea-field"
      [color]="formControl?.invalid && (formControl?.dirty || formControl?.touched) ? 'danger' : 'primary'"
    ></ion-textarea>
  }

  @if (controlType === ControlType.Select) {
    <ion-select
      [placeholder]="placeholder"
      [value]="value"
      (ionChange)="setValue($event)"
      (ionBlur)="onTouched()"
      [label]="label"
      label-placement="stacked"
      fill="outline"
      shape="round"
      interface="popover"
      class="custom-select-field"
      [color]="formControl?.invalid && (formControl?.dirty || formControl?.touched) ? 'danger' : 'primary'"
    >
      @for (option of options; track option.value) {
        <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
      }
    </ion-select>
  }

  @if (controlType === ControlType.Date) {
    <div class="py-2">
      <ion-label class="pl-1 mb-2 block text-sm font-medium text-gray-600">{{ label }}</ion-label>
      <ion-datetime
        [value]="value"
        presentation="date"
        (ionChange)="setValue($event)"
        (ionBlur)="onTouched()"
        class="w-full custom-datetime-field rounded-xl border border-gray-300"
      ></ion-datetime>
    </div>
  }

  @if (formControl?.invalid && (formControl?.dirty || formControl?.touched)) {
    <div class="flex items-center mt-1 ml-1 animate-fade-in">
      <ion-icon name="alert-circle-outline" class="text-red-500 mr-1 text-sm"></ion-icon>
      <span class="text-red-500 text-xs font-medium">
        {{ getErrorMessage() }}
      </span>
    </div>
  }
</div>
