<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>booking-page</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">booking-page</ion-title>
    </ion-toolbar>
      <ion-back-button
        defaultHref="/user/owner/dashboard"
        text="Retour"
      ></ion-back-button>
  </ion-header>
  <ion-card>
  @if (booking.status === 'PENDING') {
    <div class="flex gap-2 p-2">
      <ion-button color="success" expand="block" class="flex-1" (click)="updateStatus(booking.id, 'ACCEPTED')">
        Accepter
      </ion-button>
      <ion-button color="danger" expand="block" class="flex-1" (click)="updateStatus(booking.id, 'REJECTED')">
        Refuser
      </ion-button>
    </div>
  }
  @if (booking.statusLabel === 'ACCEPTED') {
              <ion-button
                expand="block"
                fill="outline"
                color="primary"
                class="mx-1"
                (click)="downloadPdf(booking.id)"
              >
                <ion-icon slot="start" name="document-text-outline"></ion-icon>
                Télécharger le reçu
              </ion-button>
            }
</ion-card>
</ion-content>
