<div id="indicators-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative flex align-center h-full w-full overflow-hidden">
    <!-- Item 1 -->
    <div class="flex-none w-full sm:w-1/4 text-center py-4" data-carousel-item>
      <p>Partagez votre borne</p>
    </div>
    <!-- Item 2 -->
    <div class="flex-none w-full sm:w-1/4 text-center py-4" data-carousel-item>
      <p>Économique et pratique</p>
    </div>
    <!-- Item 3 -->
    <div class="flex-none w-full sm:w-1/4 text-center py-4" data-carousel-item>
      <p>Une communauté électrique</p>
    </div>
    <!-- Item 4 -->
    <div class="flex-none w-full sm:w-1/4 text-center py-4" data-carousel-item>
      <p>Ne soyez jamais à court de courant</p>
    </div>
    <!-- Répéter les éléments pour créer un effet de boucle infinie -->
    <div class="flex-none w-full sm:w-1/4 text-center py-4">
      <p>Partagez votre borne</p>
    </div>
    <div class="flex-none w-full sm:w-1/4 text-center py-4">
      <p>Économique et pratique</p>
    </div>
    <div class="flex-none w-full sm:w-1/4 text-center py-4">
      <p>Une communauté électrique</p>
    </div>
    <div class="flex-none w-full sm:w-1/4 text-center py-4">
      <p>Ne soyez jamais à court de courant</p>
    </div>
  </div>
</div>
