.map-wrap {
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
}

.map {
  height: 100%;
}



.charger-marker {
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(0, 204, 204, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.charger-marker img {
  width: 24px;
  height: 24px;
}


  ::ng-deep app-form-field {
    position: relative;

    .searchbar-search-icon {
      position: absolute;
      left: 10px;
      top: 50%!important;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: #999;
    }

    .searchbar-input {
      padding-left: 30px; /* Ajoute de l'espace à gauche pour l'icône */
      width: 0%; /* Assure que l'input occupe toute la largeur disponible */
    }
  }


ion-icon {
  position: absolute;
  top: 18px;
  right: 40px;
  font-size: 30px;
  color: #000;
  z-index: 100000;
}

ion-searchbar {
  z-index: 99999999;
  position: relative;
}
