/* src/theme/variables.scss */

:root {
  /* --- 1. COULEURS DE LA MARQUE --- */
  --ion-color-primary: #1B5EDC;
  --ion-color-primary-rgb: 27, 94, 220;
  --ion-color-primary-shade: #174fb9;
  --ion-color-primary-tint: #3b7af0;

  --ion-color-secondary: #E5E7EB;      /* Gris Clair (pour les fonds secondaires) */
  --ion-color-secondary-rgb: 229, 231, 235;
  --ion-color-secondary-contrast: #1F2A44;

  --ion-color-success: #10B981; /* emerald-500 */
  --ion-color-success-rgb: 16, 185, 129;
  --ion-color-success-shade: #0e9e6a;
  --ion-color-success-tint: #34c38a;

  /* --- 2. FOND ET TEXTE (Blanc Pur) --- */
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

   --ion-text-color: #1E293B;
  --ion-text-color-rgb: 31, 42, 68;

  --ion-color-light: #f9fafb;
  --ion-color-light-rgb: 249, 250, 251;
  --ion-color-light-contrast: #1E293B;
  --ion-color-light-contrast-rgb: 30, 41, 59;
  --ion-color-light-shade: #dbdde0;
  --ion-color-light-tint: #fbfbfc;

  /* Ajoute aussi Medium (gris moyen) */
  --ion-color-medium: #64748b;
  --ion-color-medium-rgb: 100, 116, 139;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #58667a;
  --ion-color-medium-tint: #748297;

  /* --- 3. POLICE --- */
  --ion-font-family: 'Inter', 'Roboto', sans-serif;
}
