<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="mt20">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="flex flex-col items-center align-center my-6 w-full h-full">
    <img alt="Electric car charging" src="assets/images/hero_img.png"class=" w-full  mb-6" />

    <ion-card-header class="mb-6">
      <ion-card-title class="font-title font-bold text-3xl text-center">Bienvenue chez Elec Business</ion-card-title>
      <ion-card-subtitle class="font-semi-bold text-xl text-center">Merci de vous connecter!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="w-full">
      <form [formGroup]="loginForm" class="flex flex-col gap-4 " (ngSubmit)="onSubmit()">
      <ion-list >
          <app-form-field
          label="Email"
          placeholder="Renseignez"
          [controlType]="ControlType.Input"
          [formControl]="email"
          type="email"

        >
      </app-form-field>
          <app-form-field
          label="Mot de passe"
          placeholder="Renseignez"
          [controlType]="ControlType.Input"
          [formControl]="password"
          type="password"
        ></app-form-field>
            <ion-item lines="none" >
              <ion-button type="submit" expand="block" shape="round" size="large" class="mt-4 " [disabled]="loginForm.invalid">
                Se connecter
              </ion-button>
              </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
