.map-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.map {
  height: 100%;
}

.charger-marker {
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(0, 204, 204, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  img {
    width: 24px;
    height: 24px;
  }
}

.custom-searchbar {
  padding: 0 !important;
  margin: 0 !important;

  --background: transparent;
  --box-shadow: none;
  --border-radius: 0;

  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;

  height: 100%;
  display: flex;
  align-items: center;

  ::ng-deep .searchbar-input-container {
    height: 100% !important;

    .searchbar-input {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      box-shadow: none !important;

    }
  }

}
