app-form-field.ng-pristine:nth-child(1)  {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  --border-width: 0px !important;
  --inner-border-width: 0px !important;
  --border-color: transparent !important;
  --highlight-height: 0px !important;
}
