<ion-header>
  <ion-toolbar>
    <ion-title>Détail de la station</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-gray-50">

  @if (station.value(); as state) {

    <div class="p-4 flex flex-col gap-6">
      <div class="max-w-md mx-auto w-full">
        <app-station-card [station]="state"></app-station-card>
      </div>

      <div class="max-w-md mx-auto w-full">
        <ion-button expand="block" (click)="openModal()" color="primary" class="rounded-xl shadow-md">
          RÉSERVER
        </ion-button>
      </div>

      <div>
        <div class="flex justify-between items-center mb-4 px-1">
          <h3 class="text-lg font-bold text-gray-800">
            Avis utilisateurs ({{ state.reviewsDTO?.length || 0 }})
          </h3>

          @if (canReview()) {
            <ion-button fill="clear" size="small" (click)="openReviewModal()">
              Laisser un avis
            </ion-button>
          }
        </div>

        <app-review-list [reviews]="state.reviewsDTO ?? []"></app-review-list>
      </div>
    </div>

    <ion-modal #modal>
      <ng-template>
        <app-booking-form [stationId]="state.id" (formSubmit)="onFormSubmit($event)"></app-booking-form>
      </ng-template>
    </ion-modal>

    <ion-modal #reviewModal>
      <ng-template>
        <app-review-form
           [stationId]="state.id"
           (formSubmit)="onReviewSubmitSuccess()"
           (cancel)="reviewModal.dismiss()">
        </app-review-form>
      </ng-template>
    </ion-modal>

  }

  @else if (station.isLoading()) {
    <div class="flex justify-center items-center h-full">
      <ion-spinner></ion-spinner>
    </div>
  }
  @else if (station.error()) {
    <div class="flex flex-col items-center justify-center h-full text-red-500">
      <p>Impossible de charger la station.</p>
    </div>
  }

  <ion-toast [isOpen]="toastVisible()" [message]="toastMessage()" duration="2000" (didDismiss)="toastVisible.set(false)"></ion-toast>

</ion-content>
