<section class="flex flex-col lg:flex-row justify-center items-center space-y-8 lg:space-y-0 lg:space-x-8 w-full mt-20 mx-auto">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm transform transition-all duration-300 hover:scale-105 hover:shadow-lg">
    <a href="#">
        <img class="rounded-t-lg" src="assets/images/carte.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-center">Trouvez une borne facilement</h5>
        </a>
        <p class="mb-3 font-normal text-center">Besoin de recharger votre voiture électrique ? Avec EB, trouvez une borne disponible près de chez vous en quelques clics. Réservez, payez en ligne et profitez d’une recharge rapide et sécurisée.</p>
        <a href="#" class="inline-flex m-2 px-3 py-2 text-sm font-medium text-center text-white bg-accent rounded-lg hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600">
            Lire la suite
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm transform transition-all duration-300 hover:scale-105 hover:shadow-lg">
    <a href="#">
        <img class="rounded-t-lg" src="assets/images/imgcard2.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-center"> Louez votre borne et gagnez de l’argent</h5>
        </a>
        <p class="mb-3 font-normal text-center">Vous possédez une borne de recharge ? Rentabilisez-la en la mettant à disposition d’autres conducteurs. Fixez votre tarif horaire et partagez votre énergie en toute simplicité.</p>
        <a href="#" class="inline-flex m-2 px-3 py-2 text-sm font-medium text-center text-white bg-accent rounded-lg hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600">
           Lire la suite
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>

  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm transform transition-all duration-300 hover:scale-105 hover:shadow-lg">
    <a href="#">
        <img class="rounded-t-lg" src="assets/images/imgcard3.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-center">Une recharge flexible et accessible</h5>
        </a>
        <p class="mb-3 font-normal text-center">Que vous soyez en déplacement ou chez vous, EB vous permet de recharger où vous voulez, quand vous voulez. Plus besoin de chercher une station : la recharge devient plus fluide et pratique !</p>
        <a href="#" class="inline-flex m-2 px-3 py-2 text-sm font-medium text-center text-white bg-accent rounded-lg hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 ">
            Lire la suite
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
  </div>
</section>
