
<ion-accordion-group class="mb-40">
  <ion-accordion value="first">
    <ion-item slot="header" color=""class="bg-gray-800 p-4  border-b border-foreground">
      <ion-label class="font-bold text-lg ">Comment réserver une borne ?</ion-label>
    </ion-item>
    <div class="ion-padding mt-2 p-4 text-gray-300" slot="content">
      Recherchez une borne disponible près de chez vous, sélectionnez un créneau horaire et validez votre réservation.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" class="bg-gray-800 p-4  border-b border-foreground">
      <ion-label class="font-bold text-lg ">Comment louer ma borne ?</ion-label>
    </ion-item>
    <div class="ion-padding mt-2 p-4 text-gray-300" slot="content">
      Créez un compte, ajoutez les informations de votre borne et définissez vos tarifs pour commencer à recevoir des réservations.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" class="bg-gray-800 p-4  border-b border-foreground">
      <ion-label class="font-bold text-lg ">Quelles sont les garanties ?</ion-label>
    </ion-item>
    <div class="ion-padding mt-2 p-4 text-gray-300" slot="content">
       Nous offrons une garantie de sécurité et d'assurance pour toutes les transactions effectuées sur notre plateforme.
    </div>
  </ion-accordion>
</ion-accordion-group>
