/* src/global.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.bg-primary {
  background-color: var(--ion-color-primary) !important;
}
.text-primary {
  color: var(--ion-color-primary) !important;
}
.border-primary {
  border-color: var(--ion-color-primary) !important;
}

.bg-accent {
  background-color: var(--ion-color-success) !important;
}
.text-accent {
  color: var(--ion-color-success) !important;
}

/* Fond général blanc */
body {
  background-color: #ffffff;
}

/* Correction des Inputs (Style blanc avec bordure) */
ion-input, ion-textarea, ion-select {
  --background: #ffffff;
  --color: #1F2A44;
  --placeholder-color: #9CA3AF;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* Header propre */
ion-header {
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); /* Petite ombre */
}
ion-toolbar {
  --background: #ffffff;
  --border-width: 0;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.2s ease-out;
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
